In [170]:
import pandas as pd

In [171]:
df = pd.read_csv("data/2/Base.csv")

In [172]:
df.head(10)

,fraud_bool,income,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,has_other_cards,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_distinct_emails_8w,device_fraud_count,month
0,0,0.3,0.986506,-1,25,40,0.006735,102.453711,AA,1059,...,0,1500.0,0,INTERNET,16.224843,linux,1,1,0,0
1,0,0.8,0.617426,-1,89,20,0.010095,-0.849551,AD,1658,...,0,1500.0,0,INTERNET,3.363854,other,1,1,0,0
2,0,0.8,0.996707,9,14,40,0.012316,-1.490386,AB,1095,...,0,200.0,0,INTERNET,22.730559,windows,0,1,0,0
3,0,0.6,0.475100,11,14,30,0.006991,-1.863101,AB,3483,...,0,200.0,0,INTERNET,15.215816,linux,1,1,0,0
4,0,0.9,0.842307,-1,29,40,5.742626,47.152498,AA,2339,...,0,200.0,0,INTERNET,3.743048,other,0,1,0,0
5,0,0.6,0.294840,-1,369,30,0.024232,-1.232556,AD,1204,...,0,200.0,0,INTERNET,6.987316,linux,1,1,0,0
6,0,0.2,0.773085,22,4,40,0.006919,-0.544676,AB,1998,...,0,200.0,0,INTERNET,28.199923,x11,1,1,0,0
7,0,0.8,0.153880,-1,103,40,0.045122,-1.101184,AB,1548,...,1,200.0,0,INTERNET,11.234264,other,1,1,0,0
8,0,0.3,0.523655,21,2,30,0.035206,-0.955737,AB,1781,...,0,200.0,0,INTERNET,5.329387,other,1,1,0,0
9,0,0.8,0.834475,-1,134,20,0.017245,-1.356393,AD,3113,...,0,1500.0,0,INTERNET,4.103970,other,1,1,0,0

In [173]:
df.describe()

,fraud_bool,income,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,zip_count_4w,velocity_6h,...,phone_mobile_valid,bank_months_count,has_other_cards,proposed_credit_limit,foreign_request,session_length_in_minutes,keep_alive_session,device_distinct_emails_8w,device_fraud_count,month
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,...,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.0,1000000.000000
mean,0.011029,0.562696,0.493694,16.718568,86.587867,33.689080,1.025705e+00,8.661499,1572.692049,5665.296605,...,0.889676,10.839303,0.222988,515.851010,0.025242,7.544940,0.576947,1.018312,0.0,3.288674
std,0.104438,0.290343,0.289125,44.046230,88.406599,12.025799,5.381835e+00,20.236155,1005.374565,3009.380665,...,0.313293,12.116875,0.416251,487.559902,0.156859,8.033106,0.494044,0.180761,0.0,2.209994
min,0.000000,0.100000,0.000001,-1.000000,-1.000000,10.000000,4.036860e-09,-15.530555,1.000000,-170.603072,...,0.000000,-1.000000,0.000000,190.000000,0.000000,-1.000000,0.000000,-1.000000,0.0,0.000000
25%,0.000000,0.300000,0.225216,-1.000000,19.000000,20.000000,7.193246e-03,-1.181488,894.000000,3436.365848,...,1.000000,-1.000000,0.000000,200.000000,0.000000,3.103053,0.000000,1.000000,0.0,1.000000
50%,0.000000,0.600000,0.492153,-1.000000,52.000000,30.000000,1.517574e-02,-0.830507,1263.000000,5319.769349,...,1.000000,5.000000,0.000000,200.000000,0.000000,5.114321,1.000000,1.000000,0.0,3.000000
75%,0.000000,0.800000,0.755567,12.000000,130.000000,40.000000,2.633069e-02,4.984176,1944.000000,7680.717827,...,1.000000,25.000000,0.000000,500.000000,0.000000,8.866131,1.000000,1.000000,0.0,5.000000
max,1.000000,0.900000,0.999999,383.000000,428.000000,90.000000,7.845690e+01,112.956928,6700.000000,16715.565404,...,1.000000,32.000000,1.000000,2100.000000,1.000000,85.899143,1.000000,2.000000,0.0,7.000000

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 32 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   fraud_bool                        1000000 non-null  int64
 1   income                            1000000 non-null  float64
 2   name_email_similarity             1000000 non-null  float64
 3   prev_address_months_count         1000000 non-null  int64
 4   current_address_months_count      1000000 non-null  int64
 5   customer_age                      1000000 non-null  int64
 6   days_since_request                1000000 non-null  float64
 7   intended_balcon_amount            1000000 non-null  float64
 8   payment_type                      1000000 non-null  object
 9   zip_count_4w                      1000000 non-null  int64
 10  velocity_6h                       1000000 non-null  float64
 11  velocity_24h                      1000000 non-null  float64
 12  velocity_4w                       1000000 non-null  float64
 13  bank_branch_count_8w              1000000 non-null  int64
 14  date_of_birth_distinct_emails_4w  1000000 non-null  int64
 15  employment_status                 1000000 non-null  object
 16  credit_risk_score                 1000000 non-null  int64
 17  email_is_free                     1000000 non-null  int64
 18  housing_status                    1000000 non-null  object
 19  phone_home_valid                  1000000 non-null  int64
 20  phone_mobile_valid                1000000 non-null  int64
 21  bank_months_count                 1000000 non-null  int64
 22  has_other_cards                   1000000 non-null  int64
 23  proposed_credit_limit             1000000 non-null  float64
 24  foreign_request                   1000000 non-null  int64
 25  source                            1000000 non-null  object
 26  session_length_in_minutes         1000000 non-null  float64
 27  device_os                         1000000 non-null  object
 28  keep_alive_session                1000000 non-null  int64
 29  device_distinct_emails_8w         1000000 non-null  int64
 30  device_fraud_count                1000000 non-null  int64
 31  month                             1000000 non-null  int64
dtypes: float64(9), int64(18), object(5)
memory usage: 244.1+ MB

### Dealing with missing values

In [177]:
print("The following columns have values of -1, which are often used as a NaN (missing value):\n")

for column in df.columns:
    try: 
        missing = df[df[column] == -1]
    except:
        continue

    if len(missing) > 0:
        print(f"{column}: {len(missing)}")

The following columns have values of -1, which are often used as a NaN (missing value):

prev_address_months_count: 710820
bank_months_count: 251120

In [176]:
# For the features with comparatively little missing values, we just take the mean of the feature
for column in ["credit_risk_score", "device_distinct_emails_8w", "session_length_in_minutes", "current_address_months_count"]:
    mean_risk_score = df[column].mean()

    df[df[column] == -1] = int(mean_risk_score)

In [178]:
# We drop device_fraud_count as all values are 0
df = df.drop(columns=["device_fraud_count"])

### Dealing with categorical values

In [179]:
categorical_cols =  df.columns[df.dtypes == 'object']

df_categorical = df[categorical_cols]

for column in df_categorical.columns:
    print(f"{column}:")
    values = df[column].unique()
    print(values)

payment_type:
['AA' 'AD' 'AB' 'AC' 86 1 7 'AE' 130]
employment_status:
['CB' 'CA' 'CC' 'CF' 'CD' 'CE' 86 1 7 'CG' 130]
housing_status:
['BC' 'BE' 'BD' 'BA' 'BB' 'BF' 86 1 7 'BG' 130]
source:
['INTERNET' 'TELEAPP' 86 1 7 130]
device_os:
['linux' 'other' 'windows' 'x11' 'macintosh' 86 1 7 130]

In [180]:
for value in [1, 7, 86, 130]:
    print(f"\nvalue {value}:")
    for column in df_categorical.columns:
        rows = df[df[column] == value]
        n_ints = len(rows)
        print(f"column {column}: {n_ints} with dtype = {type(rows[column].values[0])}")

value 1:
column payment_type: 358 with dtype = <class 'int'>
column employment_status: 358 with dtype = <class 'int'>
column housing_status: 358 with dtype = <class 'int'>
column source: 358 with dtype = <class 'int'>
column device_os: 358 with dtype = <class 'int'>

value 7:
column payment_type: 1782 with dtype = <class 'int'>
column employment_status: 1782 with dtype = <class 'int'>
column housing_status: 1782 with dtype = <class 'int'>
column source: 1782 with dtype = <class 'int'>
column device_os: 1782 with dtype = <class 'int'>

value 86:
column payment_type: 4249 with dtype = <class 'int'>
column employment_status: 4249 with dtype = <class 'int'>
column housing_status: 4249 with dtype = <class 'int'>
column source: 4249 with dtype = <class 'int'>
column device_os: 4249 with dtype = <class 'int'>

value 130:
column payment_type: 488 with dtype = <class 'int'>
column employment_status: 488 with dtype = <class 'int'>
column housing_status: 488 with dtype = <class 'int'>
column source: 488 with dtype = <class 'int'>
column device_os: 488 with dtype = <class 'int'>

In [ ]:
# There seem to be rows for which all values are set to a certain value in [1, 7, 86, 130]
# We remove these rows

# df[df["payment_type"] == 1].describe()
# df[df["payment_type"] == 7].describe()
# df[df["payment_type"] == 86].describe()
df[df["payment_type"] == 130].describe()

,fraud_bool,income,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,zip_count_4w,velocity_6h,...,phone_home_valid,phone_mobile_valid,bank_months_count,has_other_cards,proposed_credit_limit,foreign_request,session_length_in_minutes,keep_alive_session,device_distinct_emails_8w,month
count,488.0,488.0,488.0,488.0,488.0,488.0,488.0,488.0,488.0,488.0,...,488.0,488.0,488.0,488.0,488.0,488.0,488.0,488.0,488.0,488.0
mean,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,...,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,...,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0
25%,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,...,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0
50%,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,...,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0
75%,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,...,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0
max,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,...,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0

In [182]:
df = df[df["payment_type"] != 1]
df = df[df["payment_type"] != 7]
df = df[df["payment_type"] != 86]
df = df[df["payment_type"] != 130]

## Turn the categorical columns into one hot encoded features

In [183]:
# For all categorical features, use one-hot encoding
categorical_types = df.select_dtypes(include=['object']).columns

# Perform one-hot encoding on those columns
df = pd.get_dummies(df, columns=categorical_types, drop_first=True)

In [184]:
df_copy = df.copy()

# Calculate the ratio of fraudsters in the dataset for each bin of income
df_copy['income_bin'] = pd.cut(df_copy['income'], bins=[-0.001,0.2,0.4,0.6,0.8,1.0], include_lowest=True)
fraud_ratio_by_income = df_copy.groupby('income_bin', observed=False)['fraud_bool'].mean()
print(fraud_ratio_by_income)

income_bin
(-0.002, 0.2]    0.005980
(0.2, 0.4]       0.007079
(0.4, 0.6]       0.007988
(0.6, 0.8]       0.009689
(0.8, 1.0]       0.021707
Name: fraud_bool, dtype: float64

In [185]:
df.head()

,fraud_bool,income,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,zip_count_4w,velocity_6h,...,housing_status_BC,housing_status_BD,housing_status_BE,housing_status_BF,housing_status_BG,source_TELEAPP,device_os_macintosh,device_os_other,device_os_windows,device_os_x11
0,0,0.3,0.986506,-1,25,40,0.006735,102.453711,1059,13096.035018,...,True,False,False,False,False,False,False,False,False,False
1,0,0.8,0.617426,-1,89,20,0.010095,-0.849551,1658,9223.283431,...,True,False,False,False,False,False,False,True,False,False
2,0,0.8,0.996707,9,14,40,0.012316,-1.490386,1095,4471.472149,...,True,False,False,False,False,False,False,False,True,False
3,0,0.6,0.475100,11,14,30,0.006991,-1.863101,3483,14431.993621,...,True,False,False,False,False,False,False,False,False,False
4,0,0.9,0.842307,-1,29,40,5.742626,47.152498,2339,7601.511579,...,True,False,False,False,False,False,False,True,False,False

In [186]:
from sklearn.model_selection import train_test_split

# import xgboost model
from xgboost import XGBClassifier
from sklearn.metrics import classification_report

X = df.drop(columns=['fraud_bool'])
y = df['fraud_bool']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# set the weights of the classes. only 1 percent of the target variable is 1
weights = {0: 1, 1: 99}

# Compute sample weights for each sample in y_train
sample_weights = y_train.map(lambda x: weights[x])

# Initialize the model (class_weight will be ignored)
model = XGBClassifier(objective='binary:logistic', eval_metric='logloss')

# Train the model with sample weights
model.fit(X_train, y_train, sample_weight=sample_weights)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model with classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.87      0.93    196377
           1       0.06      0.69      0.11      2248

    accuracy                           0.87    198625
   macro avg       0.53      0.78      0.52    198625
weighted avg       0.99      0.87      0.92    198625

## split the data based on the date of acceptance